/* Body.css */

/* Zone de manuscrit */
.zone-manuscrit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* manuscrit-card */
.manuscrit-card {
  border: 1px solid #4915d99c;
  border-radius: 5px;
  padding: 20px;
  width: 65%;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manuscrit-column {
  flex: 1;
}

/* Zone de texte manuscrit */
canvas {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.rest, .predire {
  font-size: 2em;
  text-transform: uppercase;
  background-color: #006ce4;
  
  border-radius: 5px;
  border: 3px solid #ffb700;
  color: #ffb700;
  height: 10%;
  width: 50%;
}



/* Zone de manuscrit */
.zone-manuscrit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Colonne de manuscrit */
.manuscrit-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Ajout de styles pour la classe saisie */
.saisie {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #acababcc;
}

.container {
  width: '100%';
  height: 500px;
}